:root{
    --brancoprincipal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}
*{
    margin: 0;
    padding:0;
}
.siteConteudo{
    background-color: var(--cor-de-fundo);
    color: var(--brancoprincipal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.cabecalho__conteudo{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    align-items: center;
}
.cabecalho__banner{
    background-image: url(../Praticando/img/Background.png);
    width:100%;
    grid-column: 1/ span 2;
    grid-row: 1/ 4;
}

.cabecalho__titulo{
    color: var(--brancoprincipal);
    text-align: center;
    margin-top: 7rem;
    line-height: 33.89px;
    grid-column: 1 / 1;
    grid-row: 1/2; 
}

.cabecalho__combo{
    grid-column: 1/1;
    grid-row: 2/2;
    justify-self: center;
    margin: 1em 0 2em 0;
}

.cabecalho__botao{
    text-align: center;
    grid-column: 1/1;
    grid-row: 3 / 4;
}


.nav__botao{
    display: grid;
    text-align: center;
    padding: 10px 5px;
    grid-gap: 10px;
}

.a__botao:nth-child(1){
    background-color: var(--botao-azul);
    border: 2px solid var(--botao-azul);
    border-radius: 5px;
    color: var(--brancoprincipal);
    justify-content: center;
    padding: 10px 1.5rem;
    margin: 10px 0px;
    grid-column: 1/1;
    grid-row: 1/1;
}

.a__botao:nth-child(2){
    border: 2px solid var(--brancoprincipal);
    background-color:transparent;
    border-radius: 5px;
    color: var(--brancoprincipal);
    grid-column: 1/1;
    grid-row: 2/2;
    padding: 10px 5px;
    margin: 10px 0px;
}

.cabecalho__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 5em 10em;
}

.secundario__imagem{
    width: 50%;
}

.secundario{
    align-items: center;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--brancoprincipal);
    margin-bottom: 0.1em;
}

.descricao__subtitulo{
    color: var(--cinza-secundario);
}


.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
    margin-top: 10px;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}
.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}